html {
	background-color: #141414;
}
header {
	background-color: #0d0e0d !important;
	box-shadow: none !important;
}

.aboutUs-container {
	margin-bottom: 4rem;
	padding: 4rem 0rem;
}

.welcomeContainer {
	margin-top: -68.5px;
}

@media only screen and (min-width: 640px) {
	.welcomeContainer {
		margin-top: -68.5px;
	}
}

.footerContainer {
	margin-top: -68.5px;
}

@media only screen and (min-width: 640px) {
	.footerContainer {
		margin-top: -68.5px;
	}
}

.css-27nhw-MuiStack-root {
	box-shadow: none !important;
}
.css-3yf3ru-MuiStack-root {
	box-shadow: none !important;
}

.aboutUsCard {
	box-shadow: none !important;
}

.welcomeText {
	background: linear-gradient(90deg, #7f00ff, #a855f7, #c084fc);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

.footerTitle {
	background: linear-gradient(90deg, #7f00ff, #a855f7, #c084fc);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

.work-card-media {
	padding-top: 16px;
	display: flex;
	justify-content: center;
}

.work-card-media-image {
	border-radius: 50%;
	width: 200px !important;
	aspect-ratio: 1/1;
}

.work-card-action-area {
	background-color: #141414 !important;
	border: 4px solid #703bf7 !important;
}

.work-card-title {
	color: #ffffff;
	font-weight: 700 !important;
}

.work-skill-stack {
	background-color: #1f1f1f !important;
	border: 2px solid #333333;
	color: white;
}
